body{font-family:serif}

html, body, p {width: auto; display: block; margin: 0; padding:0; }

body {font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; background-color: #f8f8f8; margin: 0; font-size: 16px;}
.logo_top {margin:2em auto; display: block; width: 321px; height: 90px;}
.content_section {width: 100%;}
.content_image {width: 100%;}

h1 {font-size: 76px; margin:1em 25px; text-align: center; font-weight: 400;}
h2 {font-size: 61px; font-weight: 300; width: 95%; margin: 70px auto 100px 50px;}
h2.small_text_header {display: inline-block; width: auto; font-size: 3em; font-style: italic; margin: 0 1.2em;}

h3 {font-size: 3.5em; background-color: #e1e1e1; margin: 0; font-weight: 300; padding: 20px 30px 20px 50px; border-top: 1px #d6d5d5 solid;  border-bottom: 1px #d6d5d5 solid;}
h4 {font-size: 2.5em; font-weight: 400; padding: 0 0 0 50px; background: url('');}

p {margin:40px 10px 40px 50px; font-size: 3.1em; width: auto; background: url('');}

.anchor {margin-top: -30px; display: block; padding-bottom: 30px;  }

a {color:#007aff; text-decoration: none; }

.button_yn, .button_next {border-radius: 10px; background-color: #d1d3d4; width: 90%; border: 0; padding: 30px; font-size: 5em; font-weight: lighter; margin:40px auto 80px auto; text-align: center; display: block;}
.button_yn:hover, .button_next:hover {background-color: #959595; color: #fff;}

.phone_link {color:#007aff; text-decoration: none; font-size:5em; text-align: center; display: block; margin: 20px .5em 135px .5me;}
.phone_link img {margin-right: .25em;}

.to_top_link {color:#007aff; text-decoration: none; font-size:60px; display: block; margin: 60px 0 60px 50px; font-weight: 300; }
.to_top_link img {margin:0 0 0 20px; position: absolute;}

ul {width: 35%; display: inline-block; margin:0 0 40px 70px;}
li {list-style-type: none; font-size: 2.5em; margin-bottom:15px;}

ul.checkmark {width:auto; display: inline-block; margin:3em 0 0 40px; list-style-type:none; }
ul.checkmark > li {font-size: 2.5em; margin-bottom:35px; padding:0 10px 0 1.5em; width: auto; min-height: 50px;
background-image: url(../images/bullet_check_x2.png);
background-repeat: no-repeat;
background-position: 0 13px}
a {color:#007aff; text-decoration: none; }

.assistance{text-align:center; font-size:2.5em; margin-top: 100px;}

/*Form Sections*/
input {border-radius: 10px; font-size: 3.5em; color:#000; background-color: #e6e6e8; border: 0; font-weight: 200; padding: 35px 25px; margin: 0 auto .6em auto; width: 85%; display: block;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #7a7a7a;
}

/*Form Validation*/
ul.guidelines {width: 90%; display: inline-block; margin:0 0 40px 10px; max-height:1000000px;}
li.guideline-good:before {content: url(../images/check_yes.png);}
li.guideline-good {color: green; list-style-type: none; visibility:visible!important;}
li.guideline-error:before {content: url(../images/check_no.png);}
li.guideline-error {color: red; list-style-type: none; visibility: visible!important;}
label.guidelines {display: inline-block; margin: 0 0 10px 50px; font-size: 2.8em;}
li.ucheck1, li.ucheck2, li.ucheck22, li.ucheck3, li.ucheck4, li.ucheck5, li.ucheck6, li.ucheck7, li.ucheck8, li.echeck10, li.echeck9  {visibility: hidden;}

/*Form Sections*/
select, input {border-radius: 10px; font-size: 3.5em; color:#000; background-color: #e6e6e8; border: 0; font-weight: 200; padding: 35px 25px; margin: 0 auto .6em auto; width: 85%; display: block;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #7a7a7a;
}

.input_state {width: 45%; display:inline-block; margin: 0 .5em .9em 50px;}
.input_zip {width: 30%; display: inline-block; margin: 0 .5em .9em .5em;}
.input_month, .input_day {width: 100px; text-align: center; display: inline-block; margin: 0 .3em .9em .3em; border-radius: 0;}
.input_year { display: inline-block;width: 140px; margin: 0 .4em; border-radius: 0;}

.label, .label_inside {font-size: 2.5em;}
 span.checkbox {font-size: 3em;}
.label {margin:0 29px 0 50px;}

.toggle_btn {border-radius: 10px; font-size: 3.5em; color:#000; background-color: #e6e6e8; border: 0; font-weight: 200; padding: 35px 25px; margin: 0 auto .9em auto; width: 290px; display: inline-block;}
#male_toggle {border-radius: 10px 0 0 10px; border-right: 1px solid #ebebec; margin-left: 120px;}
#female_toggle {border-radius: 0 10px 10px 0; border-left: 1px solid #bbbbbd;}


input[type='checkbox'] {
    margin-top: -30px;
}
input[type='checkbox'] {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 75px;
    height: 75px;
    margin: 0 50px 0 50px;
    margin-right: 1px;
    display: inline-block;
    position: relative;
    cursor:pointer;
}
input[type='checkbox']:after {
    content:"";
    vertical-align: middle;
    text-align: center;
    line-height: 13px;
    position: absolute;
    cursor: pointer;
    height: 0px;
    width: 0px;
    left:15px;
    top:30px;
    font-size:75px;
    -webkit-box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
    -moz-box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
    box-shadow: inset 0px 1px 1px #000, 0px 1px 0px #444;
    background: #fff;
}

/*toggle button*/
.rbutton input[type="radio"] {
    display: none;
}
.rbutton {display: inline-block;}

.rbutton label {font-size: 3.5em; color:#000; background-color: #e6e6e8; font-weight: 200; padding: 35px 25px; margin: 0 auto .9em auto; width: 290px; display: inline-block; text-align: center;}

.rlabel_male {
 border-right: 1px solid #ebebec;
 border-radius: 10px 0 0 10px; margin-left: 120px;
}

.rlabel_female {
border-style:solid;
border-left-color:#bbbbbd;
border-right-style:none;
border-top-style:none;
border-bottom-style:none;
  border-radius: 0 10px 10px 0;
}

input[type="radio"]:checked + label {
    background:#949494; color:white;}